[Desktop Entry]
Version=1.0
Type=Application

Name=Surimon
Comment=A serial monitor
Categories=Utility;

Icon=eu.sixpixels.Surimon
Exec=surimon
Terminal=false
StartupWMClass=surimon